a.out
a.exe
2d_graph.png
3d_graph.png
output.txt
allpoint.txt
RLBSPpoint.txt
.DS_Store

*/a.out
*/a.exe
*/2d_graph.png
*/3d_graph.png
*/output.txt
*/allpoint.txt
*/RLBSPpoint.txt
*/*/allpoint.png
*/*/RLBSPpoint.png
*/*/Experiment2.cpp
