a.out
a.exe
2d_graph.png
3d_graph.png
*.txt
.DS_Store

code/twoState/output/*
code/twoState/plot/image/*
code/twoState/plot/image3/*
code/twoState/outputTxt/

*/a.out
*/a.exe
*/2d_graph.png
*/3d_graph.png
*/output.txt
*/allpoint.txt
*/RLBSPpoint.txt
*/*/allpoint.png
*/*/RLBSPpoint.png
*/*/Experiment2.cpp
